html,body,page{
    height:100%;
    width:100%;
    margin:0;
}
page{
    font-size:80px;
    font-size:180px;
    position:absolute;
    padding-top:30%;
    padding-left: 25%;
}
#c{
    background-color: lightgreen;
    animation: c 10s infinite;
}
#x{
    background-color: red;
    animation: x 10s infinite;
}
#q{
    background-color: white;
    animation: q 10s infinite;
}
#d{
    background-color: black;
    animation: d 10s infinite;
    color: white;
}
@keyframes c{
    0%{opacity: 0}
    25%{opacity: 100}
    50%{opacity: 0}
    100%{opacity: 0}
}
@keyframes x{
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 100}
    100%{opacity: 0}
}@keyframes q{
     0%{opacity: 0}
     50%{opacity: 0}
     75%{opacity: 100}
     100%{opacity: 0}
 }@keyframes d{
      0%{opacity: 0}
      50%{opacity: 0}
      75%{opacity: 0}
      100%{opacity: 100}
  }